<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atwyn.sys3.ezybuk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize|adjustPan">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name=".Search" />
        <activity android:name=".SelectCity" />
        <activity android:name=".NowShowing" />
        <activity android:name=".ComingSoon" />
        <activity android:name=".MovieBooking" />
        <activity android:name=".FullTrailer" />
        <activity android:name=".SeatReservation" />
        <activity android:name=".Payment" />
        <activity android:name=".LoginMain" />
        <activity android:name=".RegistrationLogin" />
        <activity android:name=".LogIn" />
        <activity
            android:name=".Registration"
            android:configChanges="orientation"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme" />
        <activity android:name=".PaymentOptions" />
        <activity android:name=".Card"></activity>
    </application>

</manifest>